{% extends 'base.html' %}

{% block title %}User Dashboard{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="mt-5">
    <h2 class="text-center">Notifications</h2>

    <div class="alert alert-success" role="alert">
        <strong>Success!</strong> Your payment was processed successfully.
    </div>

    <div class="alert alert-info" role="alert">
        <strong>Info:</strong> You have a new message in your inbox.
    </div>

    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> Your policy is expiring soon. Please renew.
    </div>

    <div class="alert alert-danger" role="alert">
        <strong>Error!</strong> Failed to update your personal information.
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='assets/scripts/app.js') }}"></script>
{% endblock %}
