{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block header %}Welcome to My Page{% endblock %}

{% block content %}
    <div class="signup-container">
        <form class="signup-form" action="/signupUser" method="POST">
            <h2 class="text-center">Signup</h2>
            <div class="form-group">
                <label for="fullname">Full Name:</label>
                <input type="text" class="form-control" id="fullname" name="fullname" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password:</label>
                <input type="password" class="form-control" id="confirm-password" name="confirm-password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Signup</button>
        </form>
    </div>
    
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='assets/scripts/app.js') }}"></script>
{% endblock %}