{% extends 'base.html' %}

{% block title %}IMS{% endblock %}

{% block header %}Group4 - Insurance Management System{% endblock %}

{% block content %}
    <div class="login-container" id="login-section">
        <form class="login-form">
            <h2 class="text-center">Login</h2>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="button" onclick="login()" class="btn btn-primary btn-block">Login</button>
            <button type="button" onclick="signup()" class="btn btn-primary btn-block">Signup</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='assets/scripts/app.js') }}"></script>
{% endblock %}
