{% extends 'base.html' %}

{% block title %}IMS{% endblock %}

{% block header %}Group4 - Insurance Management System{% endblock %}

{% block content %}
    <h2>Please login or Signup</h2>
    <section id="login-section">
        <form id="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="button" onclick="login()">Login</button>
            <button type="button" onclick="signup()">Signup</button>
        </form>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='assets/scripts/app.js') }}"></script>
{% endblock %}

<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/styles/main.css">
    <title>Insurance Management System</title>
</head>
<body>
    <div id="app">
        <header>
            <h1>Insurance Management System</h1>
            <h1>Hello, {{ user.name }}!</h1>
        </header>
        <main>
            <section id="login-section">
                <h2>Login</h2>
                <form id="login-form">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                    <button type="button" onclick="login()">Login</button>
                </form>
            </section>
            <section id="signup-section">
                <h2>Sign Up</h2>
                <form id="signup-form">
                    <label for="newUsername">Username:</label>
                    <input type="text" id="newUsername" name="newUsername" required>
                    <label for="newPassword">Password:</label>
                    <input type="password" id="newPassword" name="newPassword" required>
                    <button type="button" onclick="signup()">Sign Up</button>
                </form>
            </section>
        </main>
    </div>
    <script src="scripts/app.js"></script>
</body>
</html>
-->